---
import CardChoose from "./CardChoose.astro";
import Innovacion from "../../assets/images/innovacion.webp";
import Compromiso from "../../assets/images/compromiso.webp";
import Eficiencia from "../../assets/images/eficiencia.webp";

const elections = [
  {
    title: "Innovación",
    description:
      "Impulsamos el futuro con soluciones tecnológicas de vanguardia. Exploramos nuevas fronteras y transformamos ideas en realidades digitales.",
    image: Innovacion,
  },
  {
    title: "Compromiso",
    description:
      "Trabajamos en estrecha colaboración para diseñar soluciones personalizadas que superen sus expectativas.",
    image: Compromiso,
  },
  {
    title: "Eficiencia",
    description:
      "Maximizamos el rendimiento optimizando cada proceso, logrando resultados superiores de manera ágil y efectiva.",
    image: Eficiencia,
  },
];
---

<section class="mt-4 py-12 bg-(--secondary-color)">
  <h2 class="responsive-h2 text-center text-2xl font-semibold">
    ¿Por qué <span class="text-(--primary-color)">elegirnos?</span>
  </h2>
  <p
    class="my-6 mx-5 md:mx-auto max-w-[600px] responsive-text text-center text-(--accent-color)"
  >
    Nacimos con la misión de simplificar la transformación digital, ofreciendo
    soluciones personalizadas para optimizar procesos, analizar datos y mejorar
    la toma de decisiones.
  </p>
  <section class="mx-5 my-12" id="miDiv2">
    {
      elections.map((election, i) =>
        i % 2 !== 0 ? (
          <CardChoose
            title={election.title}
            description={election.description}
            image={election.image}
            reverse={true}
          />
        ) : (
          <CardChoose
            title={election.title}
            description={election.description}
            image={election.image}
          />
        )
      )
    }
  </section>
</section>
